 <!--Projects SectioN Begin--> 
 <div class="container-fluid" style="background-color:#12151c;">
    <div class="container p-5 text-center">
     
      <h1 class="pt-2 pb-5 text-white">PROJECTS</h1>

      <div class="row">


<div class="col-lg-4">
  <div class="card text-center text-white p-3 border-0 " style="background-color:#12151c;">
    <a href="https://bit.ly/33FoHbO" target="_blank"> <img [attr.src]="s1" class="w-100" style="height:170px; " /></a>
  <div class="card-body text-left">
    <a href="https://bit.ly/33FoHbO" target="_blank" ><h5 class="py-2 text-left ">Design Shoping Card Website</h5></a>
  
    <p class="text-justify">It Created with Angular from reference like Amazon, flipkart, shopcules...</p>
  </div>
  </div>
</div>


<div class="col-lg-4">
  <div class="card text-center text-white p-3 border-0 " style="background-color:#12151c;">
    <a href="https://bit.ly/3c51cNj" target="_blank"> <img [attr.src]="s2" class="w-100" style="height:170px; " /></a>
  <div class="card-body">
    <a href="https://bit.ly/3c51cNj" target="_blank">  <h5 class="py-2 text-left">Design Soft land Website</h5></a>
     <p class="text-justify">It Created with Angular from  Online reference template.</p>
  </div>
  </div>
</div>

<div class="col-lg-4">
  <div class="card text-center text-white p-3 " style="background-color:#12151c;">
  <a href="https://bit.ly/32Dg96f" target="_blank"> <img [attr.src]="s3" class="w-100" style="height:170px; " /></a>
  <div class="card-body">
    <a href="https://bit.ly/32Dg96f" target="_blank"> <h5 class="py-2 text-left">Design Banking  Website</h5></a>
    <p class="text-justify">It Created with Angular from  Online reference template.</p>
  </div>
  </div>
</div>


      </div>

    </div>
  </div>
    
  <!--Projects  SectioN Ends--> 
