/*Home section*/
/*.jumbotron
{

    //background:url('src/assets/images/gani.JPG') center;
     background-size: cover;
height: 600px;
margin-bottom: 0px;
border-radius: 0px;

}
.data
{
padding-top: 180px;
padding-left:180px ;
}

.row a
{  
    text-decoration:none;
  
}
.row h6
{
    padding: 2px;
    border: dotted;
    border:1px 0px 1px 0px ;
    border-left: bisque;
    border-right: bisque;
    border-width: 1px;
    
}*/

.col-lg-6
{
   padding: 5px;
}
.div{
padding: 160px 0px;
}
.div1
{
    
    padding: 70px 0px;
    
}

.h2
{
    font-size: 1.75rem;
}

@media(max-width:100px)
{
    .jumbotron{
height: 200px;
float: left;
    }
}




