
    <!--
    <div class="jumbotron ">
      <div class="row">
        <div class="col-lg-5  col-md-3 col-sm-2 col-12"></div>
     <div class="col-lg-7   col-md-9 col-sm-10 col-12">
       <div class="data ">
       <h1><b> Hello!</b></h1>
       <h1 >I'am Dusa Goutham</h1>
     
       <h4>UI  Developer</h4>
       <a class="btn btn-primary " href="#" role="button"><h6> DOWNLOAD CV</h6> </a>
     </div></div>
     </div>
     
   </div>
     -->

       
   <div class="container-fluid  text-white"  style="background-color:#12151c; ">
      <div class="container">
      <div class="row">

      <div class="col-lg-6 " >
        <div class="div  " >
          <h1 class="h1  ">Hello!</h1>    
          <h1 class="h2 ">I'm Dusa Goutham</h1>
          <h5 class="bg-success p-2 mt-3 w-75 text-center">UI Developer</h5>
        </div>
       </div>

          <div class="col-lg-6 ">
            <div class="div1 ">
              <img [attr.src]="imgSrc" class="w-75 mx-auto   img-thumbnail"  style="height:450px;">
            </div>
            
        </div>
      </div>
    </div>
  </div>
