 <div class="container-fluid  " style="background-color:#12151c;" >
    <div class="container p-2 w-75 text-center">

      <h1 class="display-5 text-white font-weight-bold py-1">ABOUT US</h1>
      


      <div class="jumbotron text-white" style="border-radius:10px; background-color:rgba(150, 177, 195, 0.66)">

       <div class="row">
         <div class="col-lg-6">

          <div class="container w-100 ">
            <table class="table table-borderless text-white">
           
             
              <tr>
               
                <td colspan="2"><img [attr.src]="s1" style="border-radius:45%;width:30%;height:65px "></td>
              </tr>
           
              <tr>
                <th>FullName</th>
                <td>Dusa Goutham</td>
              </tr>

              <tr>
                <th>Date of Birth</th>
                <td>23/06/1996</td>
              </tr>

              <tr>
                <th>Mobile No</th>
                <td>8374202900</td>
              </tr>

              <tr>
                <th>Email Id</th>
                <td>gouthamdusa2900@gmail.com</td>
              </tr>
            
           
          </table>
          </div>

         </div>
         <div class="col-lg-6">

          <h4>SKILLS</h4>

          <p class="text-left">HTML5 & CSS3</p>
          <div class="progress" style="height:18px">
            <div class="progress-bar bg-success"  style="width: 92%" >92%</div>
          </div>

          <p class="text-left pt-3">BOOTSTRAP</p>
          <div class="progress" style="height:18px">
            <div class="progress-bar bg-success"  style="width: 85%" >85%</div>
          </div>

          <p class="text-left pt-3">JAVASCRIPT & JQUERY</p>
          <div class="progress" style="height:18px">
            <div class="progress-bar bg-success"  style="width: 70%" >70%</div>
          </div>

          <p class="text-left pt-3">ANGULAR</p>
          <div class="progress" style="height:18px">
            <div class="progress-bar bg-success"  style="width: 65%" >65%</div>
          </div>

          <p class="text-left pt-3">REACTJS</p>
          <div class="progress" style="height:18px">
            <div class="progress-bar bg-success"  style="width: 55%" >55%</div>
          </div>

         </div>
       </div>

      </div>

    </div>

   </div>
  <!--Skills SectioN Ends--> 