<div class="title bg-dark">
    
    <div class="navbar navbar-dark ">
      <div class="container ">
       
          <a routerLink='intro'class="navbar  ">
            <svg xmlns="http://www.w3.org/2000/svg" width="20"  fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
            <strong>HOME</strong>
           </a>
             <a routerLink='projects' class="navbar ">        <strong>PROJECTS</strong>      </a>
              <a routerLink='skills' class="navbar"> <strong>SKILLS & ABOUT US</strong>    </a>
                     
       <button class="navbar-toggler" type="button"  (click)="nav()" style="margin: 0px;">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>

    <div class="container-fuild " *ngIf="showNavbar">
      <div class="container " >
        <div class="row">
          <div class="col-sm-8 col-md-7 py-3">
            <h4 class="text-white " style="text-decoration: underline;">Intro</h4>
            <p class="text-white py-1">I am  UI Developer who is addicted to learning new web techniques and loves open source.</p>
            <p class="text-white ">I created my first little blog with html,css,bootstrap... and figured out that there are better options building Websites and Apps.
              Angular, React are my favorite Frameworks, they will continue to grow in 2021 and beyond.          </p>
  
          </div>
          <div class="col-sm-4 offset-md-1 py-3">
            <h4 class="text-white" style="text-decoration: underline;">Contact</h4>
            <ul class="list-unstyled py-2">
              <li><a href="#" class="text-white">Follow on Twitter</a></li>
              <li><a href="#" class="text-white">Like on Facebook</a></li>
              <li><a href="#" class="text-white">Email me</a></li>
            </ul>
          </div>
        </div>
      </div>
      </div>
  </div>

  <div >
    <router-outlet></router-outlet>
  </div>
<!--
  <app-intro></app-intro>
  <app-skills></app-skills>
  <app-projects></app-projects>-->

 
