       
        
  
      
           a:hover {
               color:white;
               cursor: pointer;
               text-decoration: none;
           }
       .navbar-toggler
       {
           margin-left: 120px;
       }
       
